Repository skick1234/DisTube: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

feat(Voice): support multiple bots in one guild
  src/core/voice/DisTubeVoice.ts
Due: prettier --write, eslint

chore(Release): 3.3.3
  package.json
Due: prettier --write

Docs build for tag 3.3.3: 5b1f412351dcc19c7364b63b750e35150ddc1909
  3.3.3.json
Due: prettier --write

3.3.3
  3.3.2.json
  3.3.3.json
  docs.json
  main.json
Due: prettier --write

ci: update docs generation
  .github/workflows/docs.yml
Due: prettier --write

Update
  stable.json
Due: prettier --write

fix: emits custom plugins error
  src/DisTube.ts
  src/core/voice/DisTubeVoice.ts
Due: prettier --write, eslint

chore(build): disable `tsup` minification
  package.json
  tsup.config.ts
  yarn.lock
Due: prettier --write, eslint

chore(build): add `"use strict";` to CJS bundles
  tsup.config.ts
Due: prettier --write, eslint

feat: add `joinNewVoiceChannel` option
  src/DisTube.ts
  src/constant.ts
  src/core/DisTubeHandler.ts
  src/core/DisTubeOptions.ts
  src/core/voice/DisTubeVoice.ts
  src/struct/CustomPlugin.ts
  src/struct/DisTubeError.ts
  src/struct/Song.ts
  src/type.ts
  src/util.ts
  tests/core/DisTubeHandler.test.ts
  tests/core/DisTubeOptions.test.ts
  tests/core/voice/DisTubeVoice.test.ts
Due: prettier --write, eslint

docs: fix missing types
  src/constant.ts
  src/struct/SearchResult.ts
  src/type.ts
Due: prettier --write, eslint

fix(Voice): leave correctly created voice by user
  src/core/voice/DisTubeVoice.ts
  src/core/voice/DisTubeVoiceManager.ts
  tests/core/voice/DisTubeVoice.test.ts
  tests/core/voice/DisTubeVoiceManager.test.ts
Due: prettier --write, eslint

ci: workaround for `yarn version` plugin bug
  .yarnrc.yml
Due: prettier --write

fix(typings): add `joinNewVoiceChannel` option
  src/type.ts
Due: prettier --write, eslint

ci: remove unnecessary step
  .github/workflows/publish.yml
  package.json
  yarn.lock
Due: prettier --write

fix: avoid cross-joining voice channel
  src/core/voice/DisTubeVoice.ts
  src/struct/DisTubeError.ts
  tests/core/voice/DisTubeVoice.test.ts
Due: prettier --write, eslint

fix: avoid cross-joining voice channel
  src/core/voice/DisTubeVoice.ts
  src/struct/DisTubeError.ts
Due: prettier --write, eslint

ci: disable workflows
  .github/workflows/docs.yml
  .github/workflows/test.yml
Due: prettier --write

chore(Release): 3.3.4
  package.json
Due: prettier --write

3.3.4
  3.3.4.json
  4.0.0-dev.3.json
  stable.json
Due: prettier --write

ci(Hooks): make husky hooks executable
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

fix: compatible with discord.js v14 `dev@adf461b`
  package.json
  src/DisTube.ts
  src/core/voice/DisTubeVoice.ts
  src/struct/Queue.ts
  src/util.ts
  tests/core/voice/DisTubeVoice.test.ts
  tests/struct/Queue.test.ts
  tests/util.test.ts
  yarn.lock
Due: prettier --write, eslint

feat(Stream): support opus stream
  src/core/DisTubeStream.ts
  src/type.ts
  tests/core/DisTubeStream.test.ts
Due: prettier --write, eslint

feat(Options): add `streamType` option
  src/constant.ts
  src/core/DisTubeOptions.ts
  src/core/manager/QueueManager.ts
  src/type.ts
  tests/core/DisTubeOptions.test.ts
Due: prettier --write, eslint

feat: support text in voice channel
  src/util.ts
  tests/util.test.ts
Due: prettier --write, eslint

refactor: bring back `entersState` function from `@djs/voice`
  package.json
  src/core/voice/DisTubeVoice.ts
  src/util.ts
  tests/core/voice/DisTubeVoice.test.ts
  yarn.lock
Due: prettier --write, eslint

chore: clean code, update dependencies
  package.json
  src/struct/DisTubeError.ts
  src/type.ts
  src/util.ts
  yarn.lock
Due: prettier --write, eslint

3.3.4
  3.3.4.json
  stable.json
Due: prettier --write

refactor!: throw `#play` error, improve `SearchResult` type
  package.json
  src/DisTube.ts
  src/core/DisTubeHandler.ts
  src/core/DisTubeVoice.ts
  src/core/index.ts
  src/core/manager/DisTubeVoiceManager.ts
  src/core/manager/index.ts
  src/core/voice/index.ts
  src/struct/Playlist.ts
  src/struct/Queue.ts
  src/struct/SearchResult.ts
  src/type.ts
  src/util.ts
  tests/DisTube.test.ts
  tests/core/DisTubeHandler.test.ts
  tests/core/DisTubeVoice.test.ts
  tests/core/manager/DisTubeVoiceManager.test.ts
  tests/core/manager/QueueManager.test.ts
  tests/raw/searchResults.ts
  tests/struct/Queue.test.ts
  tests/util.test.ts
  yarn.lock
Due: prettier --write, eslint

fix(Stream): unable to play opus stream
  src/core/DisTubeStream.ts
  tests/core/DisTubeStream.test.ts
Due: prettier --write, eslint

fix(Voice): do not emit `VOICE_RECONNECT_FAILED` error on deleted guild
  src/core/DisTubeVoice.ts
Due: prettier --write, eslint

Remove old docs
  3.0.7.json
  3.1.1.json
  3.2.3.json
  4.0.0-dev.0.json
  4.0.0-dev.1.json
  4.0.0-dev.2.json
  4.0.0-dev.4.json
  4.0.0-dev.5.json
  4.0.0-dev.6.json
  main.json
  stable.json
  v3.json
Due: prettier --write

chore: clean code & ci, update dependencies
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
  package.json
  src/DisTube.ts
  src/core/DisTubeHandler.ts
  src/core/manager/QueueManager.ts
  src/plugin/DirectLink.ts
  src/plugin/http.ts
  src/plugin/https.ts
  src/plugin/index.ts
  src/struct/SearchResult.ts
  src/util.ts
  yarn.lock
Due: prettier --write, eslint

chore(Release): 4.0.0
  package.json
  yarn.lock
Due: prettier --write

4.0.0
  4.0.0.json
  stable.json
Due: prettier --write

fix(Playlist): `#member` is `undefined` in some cases
  src/struct/Playlist.ts
Due: prettier --write, eslint

chore: clean ci, update dependencies
  .github/workflows/publish.yml
  .husky/pre-push
  package.json
  src/struct/SearchResult.ts
  tsup.config.ts
  yarn.lock
Due: prettier --write, eslint

chore(Release): 4.0.1
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.{json,yml,yaml})
  eslint: any of: *.ts
