Repository skick1234/DisTube: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.{json,yml,yaml}": ["prettier --write"]
}

docs: update docs
  src/DisTube.ts
  src/constant.ts
  src/core/DisTubeBase.ts
  src/core/DisTubeHandler.ts
Due: prettier --write, eslint

feat(DisTubeError): supports custom error code for plugins
  src/struct/DisTubeError.ts
Due: prettier --write, eslint

feat(DisTube): strictly typed event listeners
  src/DisTube.ts
Due: prettier --write, eslint

chore: update config, documentation, and linting
  .prettierrc.json
  README.md
  package.json
  pages/general/update.md
  src/DisTube.ts
  src/constant.ts
  src/core/DisTubeHandler.ts
  src/core/__test__/DisTubeHandler.test.ts
  src/struct/ExtractorPlugin.ts
  src/struct/Song.ts
Due: prettier --write, eslint

fix(Types): fix typing problem
  src/DisTube.ts
  src/core/DisTubeBase.ts
  src/struct/DisTubeError.ts
  src/struct/Plugin.ts
  src/type.ts
  src/util.ts
Due: prettier --write, eslint

fix(Queue): remove `DisTubeVoice` listeners when unused
  src/core/manager/QueueManager.ts
  src/core/voice/DisTubeVoice.ts
  src/struct/Queue.ts
  src/type.ts
Due: prettier --write, eslint

fix(DisTubeStream): seeking input stream instead of output stream
  src/core/DisTubeStream.ts
Due: prettier --write, eslint

docs(CustomPlaylist): add an example
  src/DisTube.ts
  src/core/DisTubeHandler.ts
Due: prettier --write, eslint

chore(Release): 3.0.0-beta.37
  package.json
Due: prettier --write

ci: fix publishing problem
  .github/workflows/npm-publish.yml
Due: prettier --write

docs(DisTubeStream): update docs
  README.md
  src/core/DisTubeStream.ts
Due: prettier --write, eslint

fix(DisTubeVoice): emit `disconnect` event if connection is destroyed
  src/core/voice/DisTubeVoice.ts
  src/core/voice/__test__/DisTubeVoice.test.ts
Due: prettier --write, eslint

refactor: create `RepeatMode` enum
  src/DisTube.ts
  src/constant.ts
  src/core/manager/QueueManager.ts
  src/struct/Queue.ts
  src/struct/__test__/Queue.test.ts
Due: prettier --write, eslint

refactor: add abstract keyword for abstract classes and methods
  README.md
  src/core/DisTubeBase.ts
  src/core/manager/BaseManager.ts
  src/core/manager/QueueManager.ts
  src/struct/CustomPlugin.ts
  src/struct/DisTubeError.ts
  src/struct/ExtractorPlugin.ts
  src/struct/Plugin.ts
  src/struct/Queue.ts
Due: prettier --write, eslint

chore(Release): 3.0.0-beta.38
  package.json
Due: prettier --write

Update DisTube.js
  src/DisTube.js
Due: none

fix: `playSong` isn't emitted when skipping song
  src/core/manager/QueueManager.ts
Due: prettier --write, eslint

fix: autoplay doesn't work as expected
  src/core/manager/QueueManager.ts
Due: prettier --write, eslint

chore: update docs & repo
  .gitattributes
  package.json
  src/struct/Playlist.ts
Due: prettier --write, eslint

chore(Release): 3.0.0-beta.39
  package.json
Due: prettier --write

chore: clean typings
  src/constant.ts
  src/core/manager/QueueManager.ts
  src/core/voice/DisTubeVoice.ts
  src/struct/CustomPlugin.ts
  src/struct/ExtractorPlugin.ts
  src/struct/Plugin.ts
Due: prettier --write, eslint

fix(Playlist): use alternative name only when necessary
  src/struct/Playlist.ts
Due: prettier --write, eslint

fix(DisTubeStream): optimize video format chooser
  src/core/DisTubeStream.ts
  src/core/__test__/DisTubeStream.test.ts
Due: prettier --write, eslint

ci: exclude mock folder
  .jestrc.json
  tsconfig.json
Due: prettier --write

chore(Release): 3.0.0-beta.40
  package.json
Due: prettier --write

chore(Release): 3.0.0
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/npm-publish.yml
  .github/workflows/test.yml
  package.json
Due: prettier --write

Update docs
  dev.json
  stable.json
Due: prettier --write

Update stable docs
  stable.json
Due: prettier --write

chore: remove git from the requirement
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/npm-publish.yml
  .github/workflows/test.yml
  .npmignore
  README.md
  package.json
  src/DisTube.ts
Due: prettier --write, eslint

chore(Release): 3.0.1
  .github/workflows/npm-publish.yml
  README.md
  package.json
Due: prettier --write

ci: do not change version on release
  .github/workflows/npm-publish.yml
Due: prettier --write

Update docs
  3.0.0-beta.37.json
  3.0.0-beta.38.json
  3.0.0-beta.39.json
  3.0.0.json
  3.0.1.json
Due: prettier --write

feat(Voice): throws `VOICE_DEPRECATED_CONNECTION`
  src/core/voice/DisTubeVoice.ts
  src/struct/DisTubeError.ts
Due: prettier --write, eslint

feat(Voice): add `force` parameter to `#stop`
  src/core/voice/DisTubeVoice.ts
  src/struct/Queue.ts
Due: prettier --write, eslint

test: update test for previous changes
  src/core/voice/DisTubeVoice.ts
  src/core/voice/__test__/DisTubeVoice.test.ts
  src/struct/__test__/Queue.test.ts
Due: prettier --write, eslint

feat(Handler): add `createSearchMessageCollector` method
  src/DisTube.ts
  src/core/DisTubeHandler.ts
  src/core/DisTubeStream.ts
  src/core/__test__/DisTubeHandler.test.ts
  src/struct/DisTubeError.ts
Due: prettier --write, eslint

chore: update dependencies
  package.json
Due: prettier --write

Update 3.0.2 docs
  3.0.2.json
Due: prettier --write

fix(Stream): cannot play live stream
  src/core/DisTubeStream.ts
Due: prettier --write, eslint
