Repository skick1234/DisTube: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.{json,yml,yaml}": ["prettier --write"]
}

chore(Release): 5.0.4
  package.json
Due: prettier --write

fix: distube crash when trying to add a song to the queue while the queue is in pause state
  src/core/manager/QueueManager.ts
Due: prettier --write, eslint

refactor(Queue): change `#pause` and `#resume` to promise and add to task queue
  src/DisTube.ts
  src/struct/Queue.ts
Due: prettier --write, eslint

fix(Voice): fix premature closed stream when seek during pause
  src/core/DisTubeVoice.ts
Due: prettier --write, eslint

chore(Release): 5.0.5
  .eslintignore
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write

docs: add encryption libraries
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  README.md
  wiki/DisTube-Guide.md
Due: none

feat(Encryption): expand encryption library detection with native crypto support
  src/struct/DisTubeError.ts
  src/util.ts
Due: prettier --write, eslint

chore(Release): 5.0.6
  package.json
Due: prettier --write

fix: remove queue if the first song encounter error
  src/DisTube.ts
  src/struct/Queue.ts
  src/struct/TaskQueue.ts
Due: prettier --write, eslint

chore(Release): 5.0.7
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update DisTubeStream.ts
  src/core/DisTubeStream.ts
Due: prettier --write, eslint

Delete .husky directory
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

fix(Stream): remove shell option from FFmpeg check
  src/core/DisTubeStream.ts
Due: prettier --write, eslint

docs: refactor documentation architecture and improve wiki guides
  .devin/wiki.json
  README.md
  wiki/DisTube-Guide.md
  wiki/Home.md
  wiki/Installation.md
  wiki/Major-Upgrade-Guide.md
  wiki/_Footer.md
Due: prettier --write

test(refactor): add unit tests for Queue refactor followed by structural type fixes
  tests/core/DisTubeOptions.test.ts
  tests/core/manager/DisTubeVoiceManager.test.ts
  tests/core/manager/FilterManager.test.ts
  tests/core/manager/QueueManager.test.ts
  tests/struct/Queue.test.ts
  tsconfig.json
  vitest.config.mts
Due: prettier --write, eslint

chore(Release): 5.1.0
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  package.json
Due: prettier --write

refactor(Queue): moving queue handling logic from QueueManager to Queue
  src/DisTube.ts
  src/core/DisTubeStream.ts
  src/core/manager/QueueManager.ts
  src/struct/Queue.ts
  src/type.ts
Due: prettier --write, eslint

ci: update node version in workflows
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
  biome.json
  package.json
Due: prettier --write

docs: update DeepWiki
  .devin/wiki.json
  README.md
Due: prettier --write

ci: enabling Trusted Publishers (OIDC) and permissions
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
Due: prettier --write

fix(Queue): pass finished song to addRelatedSong for autoplay
  package.json
  src/core/manager/QueueManager.ts
  src/struct/Queue.ts
  tests/core/manager/QueueManager.test.ts
  tests/struct/Queue.test.ts
Due: prettier --write, eslint

chore(Release): 5.1.1
  package.json
Due: prettier --write

ci: fix failed
  .github/workflows/docs.yml
  .github/workflows/test.yml
Due: prettier --write

fix(Queue): reset begin time after applying seek
  src/core/manager/QueueManager.ts
  tests/core/manager/QueueManager.test.ts
  tests/struct/Queue.test.ts
Due: prettier --write, eslint

chore(Release): 5.1.2
  package.json
Due: prettier --write

chore: migrate from pnpm to Bun and modernize codebase
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
  .husky/pre-commit
  bun.lock
  package.json
  pnpm-lock.yaml
  src/constant.ts
  src/core/DisTubeHandler.ts
  src/core/DisTubeStream.ts
Due: prettier --write, eslint

fix: improve code quality and add DisTubeVoice tests
  src/core/DisTubeVoice.ts
  src/core/manager/QueueManager.ts
  tests/core/DisTubeVoice.test.ts
  tests/core/manager/QueueManager.test.ts
Due: prettier --write, eslint

test: add DisTubeStream tests and expand Queue coverage
  tests/core/DisTubeStream.test.ts
  tests/struct/Queue.test.ts
Due: prettier --write, eslint

chore: deprecate shortcut methods for v6.0 removal
  CLAUDE.md
  src/DisTube.ts
  src/struct/Queue.ts
Due: prettier --write, eslint

fix: correct plugin filenames with backwards compatible aliases
  CLAUDE.md
  src/index.ts
  src/struct/InfoExtractorPlugin.ts
  src/struct/PlayableExtractorPlugin.ts
Due: prettier --write, eslint

fix(Queue): correct currentTime after seek
  biome.json
  src/core/DisTubeStream.ts
  src/core/DisTubeVoice.ts
  src/struct/Queue.ts
  tests/core/DisTubeStream.test.ts
  tests/core/DisTubeVoice.test.ts
  tests/struct/Queue.test.ts
Due: prettier --write, eslint

docs: update documentation for Bun migration and best practices
  .github/CONTRIBUTING.md
  .husky/commit-msg
  .husky/pre-push
  wiki/DisTube-Guide.md
  wiki/Frequently-Asked-Questions.md
  wiki/Handling-Discord.js-Events.md
  wiki/Installation.md
  wiki/Major-Upgrade-Guide.md
Due: none

chore(Queue): deprecate playing property for v6.0 removal
  CLAUDE.md
  src/struct/Queue.ts
  tests/struct/Queue.test.ts
  wiki/Frequently-Asked-Questions.md
Due: prettier --write, eslint

chore(Release): 5.2.0
  package.json
Due: prettier --write

fix(Queue): add task queue protection for seek, jump, addRelatedSong
  src/DisTube.ts
  src/core/manager/QueueManager.ts
  src/struct/Queue.ts
  tests/core/manager/QueueManager.test.ts
  tests/struct/Queue.test.ts
Due: prettier --write, eslint

chore(Release): 5.2.1
  .github/workflows/publish.yml
  package.json
Due: prettier --write

fix: song won't play
  src/DisTube.ts
Due: prettier --write, eslint

chore(Release): 5.2.2
  package.json
Due: prettier --write
