Repository skick1234/DisTube: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

3.0.3
  3.0.3.json
Due: prettier --write

Update docs
  3.0.2.json
  3.0.3.json
  stable.json
Due: prettier --write

a
  src/core/voice/DisTubeVoice.ts
Due: prettier --write, eslint

a
  LICENSE
  README.md
  package.json
Due: prettier --write

a
  package.json
Due: prettier --write

a
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
Due: none

refactor(Error): `INVALID_TYPE` stringify what it got
  src/struct/DisTubeError.ts
Due: prettier --write, eslint

fix: new stream doesn't pause when `Queue#paused` is true
  src/core/manager/QueueManager.ts
Due: prettier --write, eslint

test: update tests
  src/core/__test__/DisTubeOptions.test.ts
Due: prettier --write, eslint

3.0.4
  3.0.0-beta.40.json
  3.0.1.json
  3.0.2.json
  3.0.3.json
  3.0.4.json
Due: prettier --write

fix(Util): remove deprecated stuff
  package.json
  src/__test__/util.test.ts
  src/util.ts
Due: prettier --write, eslint

feat(Util): add `entersState` method
  src/util.ts
Due: prettier --write, eslint

feat(Voice): use `Util#entersState` method
  src/core/voice/DisTubeVoice.ts
  src/core/voice/__test__/DisTubeVoice.test.ts
Due: prettier --write, eslint

3.0.5
  3.0.4.json
  3.0.5.json
Due: prettier --write

ci: update `codecov-action`
  .codecov.yml
  .github/workflows/test.yml
Due: prettier --write

chore: make `@discordjs/opus` optional
  README.md
  package.json
Due: prettier --write

3.0.6
  3.0.5.json
  3.0.6.json
Due: prettier --write

fix(Voice): `#volume` is unexpectedly changed in some cases
  src/core/voice/DisTubeVoice.ts
Due: prettier --write, eslint

3.0.7
  3.0.6.json
Due: prettier --write

test: update test for previous commit
  src/core/voice/__test__/DisTubeVoice.test.ts
Due: prettier --write, eslint

feat(*): add `metadata` property
  src/DisTube.ts
  src/core/DisTubeHandler.ts
  src/core/__test__/DisTubeHandler.test.ts
  src/core/voice/__test__/DisTubeVoice.test.ts
  src/plugin/http.ts
  src/plugin/https.ts
  src/plugin/youtube-dl.ts
  src/struct/CustomPlugin.ts
  src/struct/ExtractorPlugin.ts
  src/struct/Playlist.ts
  src/struct/Queue.ts
  src/struct/Song.ts
Due: prettier --write, eslint

refactor(*): clean code
  .eslintrc.json
  package.json
  src/DisTube.ts
  src/__test__/DisTube.test.ts
  src/__test__/raw.ts
  src/__test__/util.test.ts
  src/constant.ts
  src/core/DisTubeBase.ts
  src/core/DisTubeHandler.ts
  src/core/__test__/DisTubeHandler.test.ts
  src/core/manager/QueueManager.ts
  src/core/voice/DisTubeVoice.ts
  src/core/voice/DisTubeVoiceManager.ts
  src/plugin/http.ts
  src/plugin/https.ts
  src/plugin/youtube-dl.ts
  src/struct/CustomPlugin.ts
  src/struct/DisTubeError.ts
  src/struct/ExtractorPlugin.ts
  src/struct/Playlist.ts
  src/struct/Plugin.ts
  src/struct/Queue.ts
  src/struct/Song.ts
  src/struct/__test__/Queue.test.ts
  src/type.ts
  src/util.ts
Due: prettier --write, eslint

chore: remove `Plugin#getRelatedSongs`, clean code, update docs
  .babelrc.json
  .jsconfig.json
  package.json
  src/DisTube.ts
  src/constant.ts
  src/core/DisTubeBase.ts
  src/core/DisTubeHandler.ts
  src/core/DisTubeOptions.ts
  src/core/DisTubeStream.ts
  src/core/__test__/DisTubeHandler.test.ts
  src/core/index.ts
  src/core/manager/BaseManager.ts
  src/core/manager/QueueManager.ts
  src/core/voice/DisTubeVoice.ts
  src/core/voice/DisTubeVoiceManager.ts
  src/core/voice/__test__/DisTubeVoice.test.ts
  src/plugin/http.ts
  src/plugin/https.ts
  src/plugin/youtube-dl.ts
  src/struct/CustomPlugin.ts
  src/struct/DisTubeError.ts
  src/struct/ExtractorPlugin.ts
  src/struct/Playlist.ts
  src/struct/Plugin.ts
  src/struct/Queue.ts
  src/struct/SearchResult.ts
  src/struct/Song.ts
  src/struct/TaskQueue.ts
  src/type.ts
Due: prettier --write, eslint

fix: `metadata` isn't applied in some cases
  package.json
  src/DisTube.ts
  src/core/DisTubeHandler.ts
Due: prettier --write, eslint

3.1.0
  stable.json
Due: prettier --write

refactor(Error): use `INVALID_TYPE` instead of `NOT_SUPPORTED_VOICE`
  src/DisTube.ts
  src/core/DisTubeHandler.ts
  src/core/__test__/DisTubeHandler.test.ts
  src/core/voice/DisTubeVoice.ts
  src/core/voice/__test__/DisTubeVoice.test.ts
  src/struct/DisTubeError.ts
  src/util.ts
Due: prettier --write, eslint

refactor(Error): use `util.inspect` instead of `JSON.stringify`
  src/core/__test__/DisTubeOptions.test.ts
  src/struct/DisTubeError.ts
Due: prettier --write, eslint

3.1.0
  3.0.7.json
  3.1.0.json
Due: prettier --write

fix(Song): not patch falsy value to `#member`
  src/struct/Song.ts
Due: prettier --write, eslint

3.1.1
  3.1.0.json
  3.1.1.json
Due: prettier --write

feat: add `version` property
  src/DisTube.ts
  src/index.ts
  tsconfig.json
Due: prettier --write, eslint

refactor: rename `GuildIDResolvable` to `GuildIdResolvable`
  src/DisTube.ts
  src/__test__/util.test.ts
  src/constant.ts
  src/core/manager/BaseManager.ts
  src/core/manager/QueueManager.ts
  src/core/voice/DisTubeVoiceManager.ts
  src/type.ts
  src/util.ts
Due: prettier --write, eslint

fix(types): `options` is optional parameter of `DisTube#play` method
  src/DisTube.ts
Due: prettier --write, eslint

Making Options Optionals in play
  src/DisTube.ts
Due: prettier --write, eslint

ci: combine all tests to one file
  .github/CONTRIBUTING.md
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: prettier --write

chore: prepare for developing v4
  package.json
Due: prettier --write

3.2.0
  3.2.0.json
  stable.json
Due: prettier --write

refactor!: change `xID` to `xId`
  src/__test__/util.test.ts
  src/constant.ts
  src/core/manager/BaseManager.ts
  src/core/manager/QueueManager.ts
  src/core/voice/DisTubeVoiceManager.ts
  src/util.ts
Due: prettier --write, eslint

refactor!: remove deprecations
  src/DisTube.ts
  src/core/DisTubeHandler.ts
  src/core/__test__/DisTubeHandler.test.ts
  src/struct/CustomPlugin.ts
  src/struct/Playlist.ts
  src/struct/Song.ts
Due: prettier --write, eslint

chore!: drop support for discord.js v12
  README.md
  package.json
  src/DisTube.ts
  src/__test__/util.test.ts
  src/core/DisTubeHandler.ts
  src/core/__test__/DisTubeHandler.test.ts
  src/core/voice/DJSAdapter.ts
  src/core/voice/DisTubeVoice.ts
  src/core/voice/__test__/DisTubeVoice.test.ts
  src/core/voice/index.ts
  src/struct/DisTubeError.ts
  src/struct/Song.ts
  src/util.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.{json,yml,yaml})
  eslint: any of: *.ts
