Repository skick1234/DisTube: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

chore(Release): 4.2.0
  package.json
  src/core/manager/QueueManager.ts
  src/type.ts
Due: prettier --write, eslint

refactor(ffmpeg): support changing global/in/output args
  src/constant.ts
  src/core/DisTubeOptions.ts
  src/core/DisTubeStream.ts
  src/core/DisTubeVoice.ts
  src/core/manager/FilterManager.ts
  src/core/manager/QueueManager.ts
  src/plugin/DirectLink.ts
  src/struct/DisTubeError.ts
  src/type.ts
Due: prettier --write, eslint

docs: update links
  README.md
  pages/general/cookie.md
  pages/general/update.md
  pages/index.yml
  pages/plugin/dev.md
  pages/plugin/list.md
  src/DisTube.ts
  src/core/DisTubeHandler.ts
  src/type.ts
Due: prettier --write, eslint

test: update test cases
  src/core/DisTubeOptions.ts
  src/core/DisTubeStream.ts
  src/core/manager/QueueManager.ts
  tests/core/DisTubeOptions.test.ts
  tests/core/DisTubeVoice.test.ts
  tests/core/manager/QueueManager.test.ts
Due: prettier --write, eslint

chore(Release): 4.2.1
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci: only update docs on main branch
  .github/workflows/docs.yml
Due: prettier --write

fix(ffmpeg): fix path & unknown options
  src/core/DisTubeOptions.ts
  src/core/DisTubeStream.ts
Due: prettier --write, eslint

chore(Release): 4.2.2
  package.json
Due: prettier --write

refactor!: remove deprecated things
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
  src/DisTube.ts
  src/constant.ts
  src/core/DisTubeHandler.ts
  src/core/DisTubeOptions.ts
  src/core/DisTubeStream.ts
  src/core/DisTubeVoice.ts
  src/core/manager/QueueManager.ts
  src/plugin/DirectLink.ts
  src/struct/CustomPlugin.ts
  src/struct/Playlist.ts
  src/struct/Queue.ts
  src/struct/SearchResult.ts
  src/struct/Song.ts
  src/struct/index.ts
  src/type.ts
  tsconfig.json
Due: prettier --write, eslint

refactor!: rewrite plugin system
  README.md
  package.json
  pnpm-lock.yaml
  src/DisTube.ts
  src/constant.ts
  src/core/DisTubeBase.ts
  src/core/DisTubeHandler.ts
  src/core/DisTubeOptions.ts
  src/core/DisTubeStream.ts
  src/core/DisTubeVoice.ts
  src/core/manager/BaseManager.ts
  src/core/manager/DisTubeVoiceManager.ts
  src/core/manager/FilterManager.ts
  src/core/manager/GuildIdManager.ts
  src/core/manager/QueueManager.ts
  src/index.ts
  src/plugin/DirectLink.ts
  src/plugin/index.ts
  src/struct/DisTubeError.ts
  src/struct/InfoExtratorPlugin.ts
  src/struct/PlayableExtratorPlugin.ts
  src/struct/Playlist.ts
  src/struct/Plugin.ts
  src/struct/Queue.ts
  src/struct/Song.ts
  src/struct/TaskQueue.ts
  src/struct/index.ts
  src/type.ts
  src/util.ts
  tests/core/DisTubeHandler.test.ts
  tests/raw/index.ts
  tests/raw/searchResults.ts
  tests/raw/videoFormats.ts
Due: prettier --write, eslint

refactor(Event)!: refactor error event
  src/DisTube.ts
  src/core/DisTubeBase.ts
  src/core/manager/QueueManager.ts
  src/type.ts
Due: prettier --write, eslint

refactor!: remove `streamType` option
  src/DisTube.ts
  src/constant.ts
  src/core/DisTubeOptions.ts
  src/core/DisTubeStream.ts
  src/core/DisTubeVoice.ts
  src/core/manager/QueueManager.ts
  src/struct/TaskQueue.ts
  src/type.ts
Due: prettier --write, eslint

test: remove old tests
  tests/DisTube.test.ts
  tests/__mocks__/Queue.ts
  tests/core/DisTubeOptions.test.ts
  tests/core/DisTubeStream.test.ts
  tests/core/DisTubeVoice.test.ts
  tests/core/manager/DisTubeVoiceManager.test.ts
  tests/core/manager/QueueManager.test.ts
  tests/struct/Queue.test.ts
  tests/util.test.ts
Due: prettier --write, eslint

refactor!: rewrite `DisTubeHandler`, add `debug` event
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  package.json
  pnpm-lock.yaml
  src/DisTube.ts
  src/core/DisTubeBase.ts
  src/core/DisTubeHandler.ts
  src/core/DisTubeStream.ts
  src/core/DisTubeVoice.ts
  src/core/manager/DisTubeVoiceManager.ts
  src/core/manager/FilterManager.ts
  src/core/manager/QueueManager.ts
  src/struct/DisTubeError.ts
  src/struct/ExtractorPlugin.ts
  src/struct/InfoExtratorPlugin.ts
  src/struct/PlayableExtratorPlugin.ts
  src/struct/Playlist.ts
  src/struct/Queue.ts
  src/struct/Song.ts
  src/type.ts
  src/util.ts
  tests/core/manager/FilterManager.test.ts
  tests/struct/Queue.test.ts
Due: prettier --write, eslint

chore(Release): 5.0.0
  README.md
  package.json
Due: prettier --write

feat(Stream): support playing local files
  src/DisTube.ts
  src/core/DisTubeHandler.ts
  src/core/DisTubeStream.ts
  src/struct/Playlist.ts
Due: prettier --write, eslint

chore(Release): 5.0.1
  package.json
Due: prettier --write

docs: add metadata
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write

refactor(Song): `Song#id` is mandatory
  src/core/manager/DisTubeVoiceManager.ts
  src/core/manager/QueueManager.ts
  src/struct/Song.ts
  src/type.ts
Due: prettier --write, eslint

test: migrate to vitest
  .babelrc.json
  .github/workflows/test.yml
  jest.config.json
  package.json
  pnpm-lock.yaml
  tests/core/DisTubeOptions.test.ts
  tests/core/manager/DisTubeVoiceManager.test.ts
  tests/core/manager/FilterManager.test.ts
  tests/tsconfig.json
  tests/util.test.ts
  vitest.config.ts
Due: prettier --write, eslint

docs(Wiki): add wiki for contributors' pr
  .github/workflows/wiki.yml
  wiki/DisTube-Guide.md
  wiki/Frequently-Asked-Questions.md
  wiki/Handling-Discord.js-Events.md
  wiki/Home.md
  wiki/Major-Upgrade-Guide.md
  wiki/Projects-Hub.md
  wiki/YouTube-Cookies.md
  wiki/_Footer.md
Due: prettier --write

chore(Release): 5.0.2
  .husky/pre-push
  package.json
Due: prettier --write

feat: support esm
  package.json
  pnpm-lock.yaml
  src/DisTube.ts
  src/index.ts
  tsconfig.eslint.json
  tsconfig.json
  tsup.config.ts
  vitest.config.mts
Due: prettier --write, eslint

fix: cannot resolve redirect links
  src/core/DisTubeHandler.ts
Due: prettier --write, eslint

feat(Queue): add `#isPaused()` and `#isPlaying()`
  src/core/manager/DisTubeVoiceManager.ts
  src/struct/Queue.ts
Due: prettier --write, eslint

docs(Wiki): add note to contribute to the project hubs
  wiki/Projects-Hub.md
Due: none

docs(Wiki): `Song#duration` diff when upgrading to v5
  wiki/Major-Upgrade-Guide.md
Due: none

Update Projects-Hub.md
  wiki/Projects-Hub.md
Due: none

chore(Wiki): add Yandex Music plugin (#329)
  wiki/Projects-Hub.md
Due: none

Fix: Rename variable in Major-Upgrade-Guide.md
  wiki/Major-Upgrade-Guide.md
Due: none

chore(Wiki): add VK Music plugin
  wiki/Projects-Hub.md
Due: none

docs: rename variable in Major-Upgrade-Guide.md (#332)
  wiki/Major-Upgrade-Guide.md
Due: none

docs(Wiki): add VK Music plugin (#336)
  wiki/Projects-Hub.md
Due: none

fix(DisTube#play): fix `skip` option
  .codecov.yml
  .commitlintrc.json
  .deepsource.toml
  .editorconfig
  .github/CODE_OF_CONDUCT.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/docs.yml
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .prettierrc.json
  LICENSE
  src/DisTube.ts
  src/core/manager/index.ts
  tests/raw/discord.ts
  tsup.config.ts
Due: prettier --write, eslint

fix: throw error if searching without adding any extractor plugins
  src/core/DisTubeHandler.ts
  src/struct/DisTubeError.ts
Due: prettier --write, eslint

feat(Voice): check encryption libraries before playing stream
  src/core/DisTubeHandler.ts
  src/core/DisTubeVoice.ts
  src/struct/DisTubeError.ts
  src/util.ts
Due: prettier --write, eslint

chore: fix linting
  .codecov.yml
  .commitlintrc.json
  .deepsource.toml
  .editorconfig
  .github/CODE_OF_CONDUCT.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .husky/.gitignore
  .husky/pre-push
  .prettierrc.json
  LICENSE
  src/core/DisTubeVoice.ts
  src/core/manager/index.ts
  src/struct/DisTubeError.ts
  src/util.ts
  tests/raw/discord.ts
  tsup.config.ts
  wiki/Projects-Hub.md
Due: prettier --write, eslint

chore(Release): 5.0.3
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write

docs(Wiki): add `@distube/bandlab` plugin
  wiki/Projects-Hub.md
Due: none

fix: esm bug when checking library
  package.json
  pnpm-lock.yaml
  src/core/DisTubeVoice.ts
  src/core/manager/QueueManager.ts
  src/util.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.{json,yml,yaml})
  eslint: any of: *.ts
