Repository skick1234/DisTube: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

feat(Options): add `directLink` option
  src/DisTube.ts
  src/constant.ts
  src/core/DisTubeOptions.ts
  src/plugin/DirectLink.ts
  src/type.ts
  tests/core/DisTubeOptions.test.ts
Due: prettier --write, eslint

chore(Release): 4.0.2
  package.json
Due: prettier --write

fix(Voice): update `#channel` when moving channel manually
  src/core/DisTubeVoice.ts
  tests/core/DisTubeVoice.test.ts
Due: prettier --write, eslint

refactor(types): clean types
  src/DisTube.ts
  src/core/manager/QueueManager.ts
  src/struct/Queue.ts
  src/type.ts
  src/util.ts
Due: prettier --write, eslint

ci: remove esm build
  .editorconfig
  .github/workflows/test.yml
  README.md
  package.json
  tsup.config.ts
  yarn.lock
Due: prettier --write, eslint

chore(Release): 4.0.3
  package.json
Due: prettier --write

docs: fix missing types
  README.md
  package.json
  src/core/manager/BaseManager.ts
  src/core/manager/FilterManager.ts
  src/type.ts
  yarn.lock
Due: prettier --write, eslint

Fix missing docs
  4.0.0.json
  4.0.1.json
  4.0.2.json
  4.0.3.json
  stable.json
Due: prettier --write

fix(DirectLinkPlugin): add Song#source
  src/plugin/DirectLink.ts
Due: prettier --write, eslint

chore(types): improve typings
  src/DisTube.ts
  src/core/DisTubeHandler.ts
  src/core/DisTubeStream.ts
  src/core/index.ts
  src/core/manager/QueueManager.ts
  src/struct/Song.ts
  src/type.ts
  tests/core/DisTubeHandler.test.ts
Due: prettier --write, eslint

chore(Release): 4.0.4
  package.json
Due: prettier --write

docs: add `@distube/deezer` plugin
  pages/plugin/list.md
Due: none

fix(util): correct formatted duration
  src/util.ts
  tests/util.test.ts
Due: prettier --write, eslint

fix(QueueManager): fix PlayingError when stoping the queue
  src/core/manager/QueueManager.ts
Due: prettier --write, eslint

chore: clean code & update dependencies
  .babelrc.json
  .yarn/releases/yarn-3.2.0.cjs
  .yarn/releases/yarn-3.6.1.cjs
  .yarnrc.yml
  README.md
  jest.config.json
  package.json
  src/DisTube.ts
  src/core/DisTubeHandler.ts
  src/core/DisTubeVoice.ts
  src/core/index.ts
  src/core/manager/QueueManager.ts
  src/plugin/DirectLink.ts
  src/struct/Queue.ts
  src/type.ts
  tests/raw/discord.ts
  tests/util.test.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint

fix(Filter): throw error when using invalid filter
  src/core/manager/FilterManager.ts
Due: prettier --write, eslint

feat(DirectLink): support video & ogg link
  src/plugin/DirectLink.ts
Due: prettier --write, eslint

feat(util): `#isUrl` accepts file protocol
  src/util.ts
  tests/util.test.ts
Due: prettier --write, eslint

fix: support thread text channel
  src/core/DisTubeHandler.ts
  src/util.ts
  tests/core/DisTubeHandler.test.ts
  tests/raw/discord.ts
  tests/util.test.ts
Due: prettier --write, eslint

fix(Voice): avoid playing new resource when paused
  src/core/DisTubeVoice.ts
  src/core/manager/QueueManager.ts
  tests/core/DisTubeVoice.test.ts
Due: prettier --write, eslint

chore(Release): 4.0.5
  package.json
  yarn.lock
Due: prettier --write

refactor(FilterManager): fix cannot add `Filter` & clean code
  src/core/DisTubeStream.ts
  src/core/manager/FilterManager.ts
  src/core/manager/QueueManager.ts
Due: prettier --write, eslint

test(FilterManager): add test cases
  tests/__mocks__/Queue.ts
  tests/core/manager/FilterManager.test.ts
  tests/core/manager/QueueManager.test.ts
  tests/util.test.ts
Due: prettier --write, eslint

ci: deprecate older versions
  .github/workflows/publish.yml
Due: prettier --write

chore(Release): 4.0.6
  package.json
  yarn.lock
Due: prettier --write

ci: add code analyzer
  .deepsource.toml
  .github/workflows/test.yml
  jest.config.json
  package.json
  src/DisTube.ts
  src/core/DisTubeHandler.ts
  src/core/DisTubeOptions.ts
  src/core/DisTubeVoice.ts
  src/core/manager/FilterManager.ts
  src/core/manager/QueueManager.ts
  src/plugin/DirectLink.ts
  src/struct/Playlist.ts
  src/struct/Queue.ts
  src/struct/Song.ts
  src/struct/TaskQueue.ts
  src/util.ts
  yarn.lock
Due: prettier --write, eslint

feat: support `@distube/ytdl-core` cookie agent
  package.json
  pages/general/cookie.md
  pages/index.yml
  src/DisTube.ts
  src/core/DisTubeHandler.ts
  src/core/DisTubeOptions.ts
  src/type.ts
  src/util.ts
  tests/DisTube.test.ts
  tests/core/DisTubeHandler.test.ts
  tests/core/DisTubeOptions.test.ts
  tests/util.test.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint

chore(Release): 4.1.0
  package.json
  yarn.lock
Due: prettier --write

fix(Stream): fix stream ended prematurely caused by YouTube throttling
  package.json
  src/core/DisTubeHandler.ts
  src/core/DisTubeStream.ts
  src/core/manager/QueueManager.ts
  tests/core/DisTubeStream.test.ts
  tests/core/manager/QueueManager.test.ts
  yarn.lock
Due: prettier --write, eslint

chore(Release): 4.1.1
  package.json
Due: prettier --write

feat: Listen to voiceStateUpdate event without leaveOnEmpty being true
  src/DisTube.ts
  src/core/DisTubeHandler.ts
  src/type.ts
Due: prettier --write, eslint

docs: updated outdated links
  README.md
Due: none

ci: pnpm
  .babelrc.json
  .eslintignore
  .gitattributes
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .prettierignore
  .yarn/plugins/@yarnpkg/plugin-version.cjs
  .yarn/releases/yarn-3.6.1.cjs
  .yarn/versions/8c546651.yml
  .yarnrc.yml
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: prettier --write

docs: move to typedoc
  .eslintrc.json
  .gitignore
  .prettierignore
  README.md
  package.json
  pnpm-lock.yaml
  src/DisTube.ts
  src/constant.ts
  src/core/DisTubeBase.ts
  src/core/DisTubeHandler.ts
  src/core/DisTubeStream.ts
  src/core/DisTubeVoice.ts
  src/core/manager/BaseManager.ts
  src/core/manager/DisTubeVoiceManager.ts
  src/core/manager/FilterManager.ts
  src/core/manager/GuildIdManager.ts
  src/core/manager/QueueManager.ts
  src/struct/CustomPlugin.ts
  src/struct/ExtractorPlugin.ts
  src/struct/Playlist.ts
  src/struct/Plugin.ts
  src/struct/Queue.ts
  src/struct/SearchResult.ts
  src/struct/Song.ts
  src/struct/TaskQueue.ts
  src/type.ts
  src/util.ts
  tsconfig.eslint.json
  tsconfig.json
Due: prettier --write, eslint

refactor(Stream): self handling ffmpeg stream
  package.json
  pnpm-lock.yaml
  src/DisTube.ts
  src/constant.ts
  src/core/DisTubeHandler.ts
  src/core/DisTubeOptions.ts
  src/core/DisTubeStream.ts
  src/core/DisTubeVoice.ts
  src/core/manager/FilterManager.ts
  src/core/manager/QueueManager.ts
  src/type.ts
Due: prettier --write, eslint

test: update deprecated methods
  .github/FUNDING.yml
  README.md
  tests/DisTube.test.ts
  tests/core/DisTubeHandler.test.ts
  tests/core/DisTubeOptions.test.ts
  tests/core/DisTubeStream.test.ts
  tests/core/DisTubeVoice.test.ts
  tests/core/manager/DisTubeVoiceManager.test.ts
  tests/core/manager/FilterManager.test.ts
  tests/core/manager/QueueManager.test.ts
  tests/struct/Queue.test.ts
Due: prettier --write, eslint

ci: typedoc website
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  README.md
  package.json
  pnpm-lock.yaml
  src/DisTube.ts
  src/constant.ts
  src/core/DisTubeBase.ts
  src/core/DisTubeHandler.ts
  src/core/DisTubeStream.ts
  src/core/DisTubeVoice.ts
  src/core/manager/BaseManager.ts
  src/core/manager/DisTubeVoiceManager.ts
  src/core/manager/FilterManager.ts
  src/core/manager/GuildIdManager.ts
  src/core/manager/QueueManager.ts
  src/struct/CustomPlugin.ts
  src/struct/ExtractorPlugin.ts
  src/struct/Playlist.ts
  src/struct/Plugin.ts
  src/struct/Queue.ts
  src/struct/SearchResult.ts
  src/struct/Song.ts
  src/struct/TaskQueue.ts
  src/type.ts
  src/util.ts
Due: prettier --write, eslint

ci: pnpm
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
  README.md
Due: prettier --write

docs: add links and sitemap
  .github/workflows/docs.yml
  jsdoc.config.json
  src/core/DisTubeStream.ts
  tsconfig.json
Due: prettier --write, eslint

ci: pnpm workaround (pnpm/pnpm#5894)
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.{json,yml,yaml})
  eslint: any of: *.ts
